<div class="container">
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [value]="box" (keyup)="updateBox($event)">
            <div class="input-group-prepend">
                <button class="input-group-text" (click)="addBox()" (click)="checkPosition()">Send</button>
            </div>
        </div>
        <div class="col-mb-3 col-lg-3">
            <button (click)="apagaLig()" >Refazer</button>
        </div>
    </div>
    <div class="canvas-border">
            <canvas id="canvas"></canvas>
    </div>
    <div class="row">  
        <div name="box" id="box" class="example-box col-md-4" cdkDragBoundary=".example-boundary" 
            cdkDrag *ngFor="let tag of tags" (click)="checkPosition()" (dblclick)="setinha(tag.id)"
            [cdkDragDisabled]="tag.disabled"
        >
            {{ tag.id }}
        </div>
    </div>
    
</div>

<!--div class="example-box" cdkDrag>Drag me around!</div-->




