<!--div class="container">
  <div class="row">
    <div class="input-group mb-3">
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [value]="box" (keyup)="updateBox($event)">
      <div class="input-group-prepend">
        <button class="input-group-text" (click)="addBox()" >Send</button>
      </div>
    </div>
  </div>
    <div class="example-boundary">
      <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
          oi
      </div>
    </div>
</div-->


<!--div class="example-box" cdkDrag>Drag me around!</div-->




